<!DOCTYPE html>
<html>
  <head>
    <title>テスト</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/test.css">
  </head>
  <body>
    <table border="1">
      <tr>
        <th colspan="4">見出し</th>
      </tr>
      <tr>
        <td rowspan="4">サイド</td>
        <td>中身</td>
        <td>中身</td>
        <td rowspan="4">サイド</td>
      </tr>
      <tr>
        <td>中身</td>
        <td>中身</td>
      </tr>
      <tr>
        <td>中身</td>
        <td>中身</td>
      </tr>
      <tr>
        <td colspan="2">中身</td>
      </tr>
    </table>
    <script type="text/javascript" src="../js/test.js"></script>
  </body>
</html>